.contextmenu {
  position: fixed;
  width: 80px;
  padding: 2px;
  z-index: 99999;
}

/* Override modal's display:none when contextmenu is shown via JS */
.contextmenu.modal {
  /* display is set by JS, z-index should be highest */
  z-index: 99999;
}

.contextmenu>.menu-header {
  background-image: url("/png/bg2.png");
  cursor: auto;
  text-align: center;
  padding: 2px;
}

.contextmenu button {
  width: 100%;
  padding: 2px;
  border: 0px;
  border-radius: 0px;
  margin: 0px;
}